# Created by https://www.toptal.com/developers/gitignore/api/jspm
# Edit at https://www.toptal.com/developers/gitignore?templates=jspm

### jspm ###
jspm_packages

# folder
"/09. Bootstrap-projekty/zasoby/Kolory.txt"
"/09. Bootstrap-projekty/zasoby/sko\305\204czona+sekcja+lewa+-+schemat.png"

# End of https://www.toptal.com/developers/gitignore/api/jspm